node_modules
# Keep environment variables out of version control
.env
.env.local

# Next.js build output
.next/
# Next.js cache
.next/cache/
# Build cache
.swc/

# Vercel
.vercel

# Typescript
*.tsbuildinfo